# Android Studio & Gradle
.gradle/
/build/
!gradle/wrapper/gradle-wrapper.jar
/captures/
.externalNativeBuild/
.cxx/
local.properties
.intellij
.idea/
*.iml
.DS_Store
*.bak
*.swp

# Firebase Functions
firebase_functions/node_modules/
firebase_functions/firebase-debug.log
firebase_functions/package-lock.json

# Secrets
secrets.properties

# Firebase Config (Sensitive)
.firebaserc
google-services.json
app/google-services.json
service-account.json
app/src/main/assets/service-account.json
*.pem
*.jks
release/
